@charset 'utf-8';
#site-die .link-category {
  visibility: visible;
}
#site-die .site-category {
  visibility: hidden;
}
#site-die:hover .site-category {
  visibility: visible;
}
.among {
  position: relative;
  height: 63px;
  width: 100%;
  margin-top: 0;
  color: #616161;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}
.among .nm {
  float: left;
}
.among .nm .hair {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
}
.among .chopsui a {
  text-decoration: none;
}
.among .chopsui .left {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 21px;
  text-align: center;
}
.among .chopsui .left span {
  margin: 0 10px;
}
.among .chopsui .right {
  float: right;
  margin: 17px 0 0 0;
}
.among .chopsui .right span {
  margin: 0 10px;
}
a:hover {
  color: #ff6700;
}
.page-info .st {
  display: flex;
  padding-top: 32px;
  padding-bottom: 12px;
}
.page-info .st .data-img {
  width: 606px;
  position: relative;
  text-align: center;
}
.page-info .st .data-text {
  flex: 1;
  margin-left: 20px;
}
.page-info .st .data-text .data-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.page-info .st .data-text .selected {
  background: #f9f9fa;
  padding: 30px;
  margin-bottom: 30px;
}
.page-info .st .data-text .data-price {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 10px;
}
.page-info .st .data-text .p-num {
  color: #ff6700;
}
.page-info .st .data-text .data-particulars {
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.page-info .st .data-text .rr {
  margin-bottom: 30px;
}
#num {
  width: 100px;
  height: 52px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 52px;
  font-size: 20px;
}
#addItem {
  transition: all 0.4s;
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  border-color: #ff6700;
  background: #fff;
  color: #ff6700;
  padding: 0;
  margin: 0;
  border: 1px solid #ff6700;
}
#addItem:hover {
  background: #ff6700;
  color: #fff;
}
.section {
  background: #f5f5f5;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}
.section h3 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}
